footer {
    background-color: var(--Cinza-escuro-escuro);
    border-top: 1px solid var(--Branco);
    font-variant-numeric: lining-nums proportional-nums;
}


footer h5 {
    font-size: 16px;
}

footer a, label {
    color: var(--Cinza-claro-claro);
    text-decoration: none;
    transition: color 0.2s;
    font-size: 14px;
    font-weight: 400;
}


footer a:hover {
    color: var(--Botao-azul);
}

/* Estilo para a linha horizontal */
hr {
    background-color: var(--Branco);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Estilo para o aviso de direitos autorais */
p {
    font-size: 12px;
    font-weight: 400;
}