<section class="container mb-5">
  <h2 class="text-center mt-5">Principais Lançamentos</h2>

  <div class="row row-cols-xl-5 row-cols-md-3 row-cols-sm-2 row-cols-1 g-4 mt-3">
    <app-card-papel-de-parede tamanho="grande" imagePath="/assets/papeisDeParede/flores e floral.jpg"></app-card-papel-de-parede>
    <app-card-papel-de-parede tamanho="grande" imagePath="/assets/papeisDeParede/arabesco.jpg"></app-card-papel-de-parede>
    <app-card-papel-de-parede tamanho="grande" imagePath="/assets/papeisDeParede/cimento queimado.jpg"></app-card-papel-de-parede>
    <app-card-papel-de-parede tamanho="grande" imagePath="/assets/papeisDeParede/geometrico.webp"></app-card-papel-de-parede>
    <app-card-papel-de-parede tamanho="grande" imagePath="/assets/papeisDeParede/madeira.jpg"></app-card-papel-de-parede>
  </div>
</section>    