.pagination {
    font-variant-numeric: lining-nums proportional-nums;
    display: flex;
    align-items: center; /* Alinha os itens verticalmente no centro */
    margin-bottom: 20px;
    
}

.page-item {
    cursor: pointer;
    
}

.page-item .disabled {
    color: var(--Cinza-claro);
}

.page-link {
    border: 0;
    background-color: var(--Branco);
    color: var(--Preto);
    font-weight: 500;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: var(--Cinza-claro);
}

.active {
    background-color: var(--Cinza-ativado);
    color: var(--Branco);
}

i {
    font-size: 20px;
    display: flex;
    align-items: center;
}
.page-info{
    font-weight: 600;
}




