<app-titulo-pagina [titulo]="'Personalizados'"></app-titulo-pagina>
<app-carrossel></app-carrossel>
<app-banner></app-banner>
<div class="container my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac risus in justo viverra accumsan. Proin vitae
        lectus eu ligula ultrices laoreet non et erat. Nullam auctor justo et metus convallis, at bibendum nunc luctus.
        Vestibulum euismod urna vel neque vehicula, a tincidunt felis varius. Nunc consequat nunc nec neque dictum, a
        tincidunt odio facilisis. Vivamus tincidunt turpis eget massa fermentum, a volutpat justo consequat.</p>
    <p>Integer vel tortor et nisl convallis accumsan. Etiam euismod, sapien vel eleifend ultrices, dui leo pellentesque
        eros, vitae lacinia turpis libero sed sem. Sed vel justo ut eros convallis suscipit. Maecenas vehicula mauris eu
        ipsum cursus, vitae fringilla ligula tristique. Suspendisse potenti. Nunc malesuada, ligula eu luctus imperdiet,
        ligula odio rhoncus massa, ut pulvinar nisi elit nec neque. Sed luctus odio eget justo interdum, at ullamcorper
        odio pharetra.</p>

    <div class="d-flex justify-content-center mt-auto pt-5 pb-3">
        <article class="d-grid botao-container">
            <a href="https://api.whatsapp.com/send?phone=5561986792057&text=Eu%20gostaria%20de%20solicitar%20um%20orçamento" target="_blank"
                class="btn btn-success d-flex align-items-center">
                <span class="ms-auto px-3">Solicite seu orçamento</span>
                <i class="fa-brands fa-whatsapp fa-lg ms-auto"></i>
            </a>
        </article>
    </div>
</div>