<app-titulo-pagina [titulo]="'Sobre nós'"></app-titulo-pagina>
<div class="container container-sobre">
    <div class="row mb-4">
        <div class="sobre col-12 col-md-5">
            <p>Há 24 anos, a Art House se dedica a transformar lares em Brasília com papel de parede. Mais do que uma simples loja, 
                somos apaixonados por criar ambientes únicos e expressivos, trazendo alegria para cada cliente. Nossa história é construída 
                com base em três pilares fundamentais: paixão pela arte, atendimento impecável e qualidade incomparável.</p>
            <p>Acreditamos que o papel de parede é mais do que um revestimento, é uma forma de expressar sua individualidade e criar um espaço que seja a sua cara.
                 Nossa equipe é formada por profissionais experientes e dedicados, que te guiam em cada etapa da compra, desde a escolha do papel ideal e instalação 
                 até suporte durante todo o período que você possuir o produto. Oferecemos uma ampla variedade de produtos das melhores marcas do mercado, 
                 com ótimos preços e garantia.
            </p>
          
        </div>
        <img class="sobre col-5 d-none d-lg-block h-auto" src="assets/papeisDeParede/papel de parede geometrico.jpg" alt="">
        <img class="sobre col-5 d-none d-lg-block h-auto" src="assets/sobreNos/entrada1sobrenos.jpg" alt="">
        <div class="sobre col-12 col-md-5">
            <p>Mais do que um produto, a Art House oferece uma experiência. Queremos te ajudar a criar um ambiente que seja a sua cara, 
                um lugar onde você se sinta feliz e realizado. Ao longo dos anos, conquistamos a confiança de milhares de clientes e o 
                que nos mantém no mercado até hoje é a indicação dos mesmos. Somos gratos por cada indicação e por cada lar que transformamos.</p>
            <p>Venha nos conhecer e transformar o seu lar em um ambiente único e especial!</p>
            <p>Art House: 24 anos de paixão pelo papel de parede.
            </p>
  
        </div>
    </div>
</div>

<img src="assets/sobreNos/Untitled design.jpg" alt="" class="img-fluid w-100">

<div class="separador">
    <h2>Elegancia e qualidade no mesmo lugar.</h2>
</div>

<article class="container-fluid container-valores">
    <div class="row">
        <img class="col-12 col-md-6 p-0" src="assets/sobreNos/missao sobre nos.webp" alt="">
        <div class="col-12 col-md-6">
            <div class="container container-valor">
                <h3 class="py-3">Missão</h3>
                <p>Transformar lares em espaços únicos e expressivos através da arte em papel de parede, proporcionando aos clientes uma experiência 
                    de compra impecável e um atendimento personalizado, com foco na qualidade, variedade e preço justo.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 order-last order-md-first">
            <div class="container container-valor">
                <h3 class="py-3">Visão</h3>
                <p>Ser a referência em Brasília em revestimentos de parede, reconhecida pela excelência em produtos, 
                    serviços e atendimento, inspirando e transformando a vida das pessoas através da arte.
                </p>
            </div>
        </div>
        <img class="col-12 col-md-6 p-0" src="assets/sobreNos/visao sobre nos.webp" alt="">
    </div>
    <div class="row">
        <img class="col-12 col-md-6 p-0" src="assets/sobreNos/valores sobre nós.webp" alt="">
        <div class="col-12 col-md-6">
            <div class="container container-valor">
                <h3 class="py-3">Valor</h3>
                <p>
                    Na Art House, acreditamos na transformação de ambientes e expressão da individualidade através do papel de parede de qualidade excepcional. 
                    Oferecemos atendimento acolhedor, variedade para todos os gostos e compromisso com a comunidade e a sustentabilidade. 
                    Nossos valores de ética, transparência e crescimento contínuo garantem uma experiência satisfatória e inspiradora para nossos clientes.</p>
            </div>
        </div>
    </div>
</article>