<app-titulo-pagina [titulo]="'Sobre nós'"></app-titulo-pagina>
<div class="container container-sobre">
    <div class="row mb-4">
        <div class="col-6">
            <p>A Art House Papel de Parede foi fundada em maio de 2000, localizada na quadra 311 da Asa Sul em Brasília.
                Desde então, tornou-se uma empresa altamente especializada em revestimentos de parede, oferecendo
                soluções práticas para seus clientes.</p>
            <p>O principal objetivo da Art House é proporcionar aos seus clientes uma experiência livre de estresse ao
                renovar seus ambientes. A empresa está sempre em busca de produtos inovadores que evitem a necessidade
                de obras demoradas e incômodas. Dessa forma, eles oferecem opções de revestimentos de parede que são
                fáceis de aplicar, permitindo transformar um espaço sem grandes transtornos.</p>
            <p>Um dos destaques da Art House é a sua vasta variedade de catálogos de papel de parede. Oferecemos uma
                ampla seleção de estilos, desde os mais clássicos e elegantes até os mais modernos e arrojados. Os
                clientes têm a oportunidade de escolher entre diferentes texturas, cores e padrões, permitindo que
                encontrem a opção perfeita para atender às suas preferências e estilo de decoração.</p>
        </div>
        <img class="col-6 h-auto" src="assets/papeisDeParede/papel de parede geometrico.jpg" alt="">
        <img class="col-6 h-auto" src="assets/sobreNos/entrada1sobrenos.jpg" alt="">
        <div class="col-6">
            <p>Além disso, a Art House oferece um serviço exclusivo de produção de papéis de parede personalizados. Os
                clientes têm a opção de transformar suas próprias imagens pessoais em papéis de parede únicos ou podem
                colaborar com o designer gráfico da empresa para criar artes personalizadas. Essa abordagem permite que
                os clientes expressem sua individualidade e criem um ambiente verdadeiramente personalizado.</p>
            <p>A empresa também se dedica a fornecer um atendimento de alta qualidade, colocando a satisfação do cliente
                em primeiro lugar. Sua equipe está pronta para auxiliar os clientes na escolha dos melhores produtos,
                oferecer orientações sobre a aplicação correta e responder a todas as suas dúvidas e necessidades.</p>
            <p>Com sua experiência, variedade de opções e compromisso com a excelência, a Art House Papel de Parede se
                estabeleceu como uma referência em revestimentos de parede em Brasília. Seu foco na praticidade,
                qualidade e personalização permite que os clientes transformem seus espaços de maneira criativa e
                elegante, agregando estilo e personalidade aos ambientes.
            </p>
            <p>Art House.</p>
        </div>
    </div>
</div>

<img src="assets/sobreNos/Untitled design.jpg" alt="" class="img-fluid w-100">

<div class="separador">
    <h2>Elegancia e qualidade no mesmo lugar.</h2>
</div>

<article class="container-valores">
    <div class="d-flex justify-content-center">
        <img class="w-50" src="assets/sobreNos/missao sobre nos.webp" alt="">
        <div class="w-50">
            <div class="container container-valor">
                <h3 class="py-3">Missão</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac risus in justo viverra accumsan.
                    Proin
                    vitae
                    lectus eu ligula ultrices laoreet non et erat.</p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="w-50">
            <div class="container container-valor">
                <h3 class="py-3">Visão</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac risus in justo viverra accumsan.
                    Proin
                    vitae
                    lectus eu ligula ultrices laoreet non et erat.</p>
            </div>
        </div>
        <img class="w-50" src="assets/sobreNos/visao sobre nos.webp" alt="">
    </div>
    <div class="d-flex justify-content-center">
        <img class="w-50" src="assets/sobreNos/valores sobre nós.webp" alt="">
        <div class="w-50">
            <div class="container container-valor">
                <h3 class="py-3">Valor</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac risus in justo viverra accumsan.
                    Proin
                    vitae
                    lectus eu ligula ultrices laoreet non et erat.</p>
            </div>
        </div>
    </div>
</article>